@font-face {
    font-family: mrrobot;
    src: url(mrrobot.ttf);
    font-weight: 900;
}
p {
    font-size: 20px;
}
 body{
     background-color: black;
     font-family: mrrobot;
     color: red
 }
 .spin{
     width: 100px;
     height: 100px;
 }
 .video{
      width: 100;
      height: 200;
 }
